body { 
    background-color: #F1E9D2;
}


/* nav bar ------------------------------------------------------------ */
.nav-content {
    background-color: #4A4A4A; /* top part of nav */
}

nav a { 
    color: #5BD7A9; 
    text-decoration: none; /* no underline */
}

/* search ------------------------------------------------------------ */
.product-card {
    background-color: #FFFFFF;
}

.product-title {
    color: #5BD7A9;
}

.product-price {
    color: #5BD7A9;
}

.product-details, .product-description {
    color: #4A4A4A;
}

.product-ingredients { 
    color: #828282;
}

.add-cart-button {
    background: none;
}