/* dedicated styling for colours. easier to maintain when debugging */
body { 
    background-color: #F1E9D2;
}

h1, h2, h3, .product-details, .product-description { 
    color: #1A1A1A;  /* darker text - better readability, accessiblilty */
}
/* nav bar ------------------------------------------------------------ */
.nav-content {
    background-color: #4a4a4a; /* top part of nav */
}

nav a { 
    color: #14ac86; 
    text-decoration: none; /* no underline */
}

nav { 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

/* search ------------------------------------------------------------ */
.search-box { 
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 200, 150, 0.25);
}

.filter-pill {
    color: #14ac86;
    border: 2px solid #14ac86;
}

.filter-pill.active {
    background: #14AC86;
    color: white;
}


.product-card {
    background-color: #FFFFFF;
    box-shadow: -6px 6px 6px #C7C7C7;
}

.product-title {
    color: #14AC86;
}

.product-price {
    color: #14AC86;
}

.product-sizes span {
    border: 1px solid #8d8d8d;
    color: #1A1A1A;
}

.product-description { 
    border-top: 0.5px solid #8d8d8d;
}

.product-ingredients { 
    color: #585858;
}

.product-header {
    border-top: 0.5px solid #1A1A1A;
}

.add-cart-button {
    background: none;
}

/* product detail ---------------------------------- */

.shipping-banner {
    background-color: #D85D75;
    color: white;
}

#productName {
    background-color: #14AC86;
    color: #1A1A1A; 
}

.size-options span {
    border: 1px solid #ccc;
}

.title-row {
    border-bottom: 0.5px solid #8d8d8d;
}

.carousel-detail-img {
    border: 1px solid #C7C7C7;
    background-color: white;
}


.summary-line {
    color: #666;
}

.summary-divider {
    border-top: 1px solid #4a4a4a;
}

.subtotal-row {
    color: #4a4a4a;
}

.toggle-group {
    border: 1px solid #8d8d8d;
}

.toggle-btn {
    background-color: #e5dfcb;
    color: #4a4a4a;
}

.toggle-btn.active {
    background-color: #555555;
    color: #e5dfcb;
}

.datetime-pill {
    background-color: #8d8d8d;
    color: #0088FF;
}
 