body { 
    background-color: #F1E9D2;
}


/* nav bar color */
nav {
    background-color: #4A4A4A;
    color: white; /* for the text colour in the navbar */
}

.nav-content {
    background-color: #4A4A4A; /* top part of nav */
}

nav a { 
    color: #5BD7A9; 
    text-decoration: none; /* no underline */
}